$bg-color: rgb(255, 208, 0);
$border-color: rgb(0, 195, 255);

.app {
  font-family: helvetica, arial, sans-serif;
  padding: 2em;
  border: 5px solid $border-color;

  p {
    background-color: $bg-color;
  }
}
